
<div class = "article page">

  <h2><%= @article.title %></h2> <h5><i>Written by: <%= @article.author %> at <%= @article.created_at.strftime("%Y-%m-%d") %></i></h5>

  <p><%= @article.content %></p>

</div>


<div>
  <h3>Comments:</h3>

  <% @article.comments.each do |comment|%>
    <p>
      <%= comment.comment_content %>
    </p>
    <p><h5><em>Posted by: <%= comment.visitor_email? ? comment.visitor_email : "anonymous"  %></em></h5>
    </p>


  <% end %>

</div>


<div>

  <%= flash[:notice] %>

  <h3>Add Comments:</h3>

  <%= form_for([@article, @article.comments.new]) do |f| %>

      <div class = "comment_area">
        <%= f.label :comment_content %><br>
        <%= f.text_area :comment_content %>
      </div>

      <div class = "email">
        <%= f.label :visitor_email %><br>
        <%= f.email_field :visitor_email %>
      </div>

      <div class = "submit">
          <%= f.submit "Add Comment" %>
      </div>

      <%= flash[:error] %>
  <% end %>

  <%= link_to 'Back to all Articles', landing_index_path %>

</div>
